parameters:
  level: 8
  checkGenericClassInNonGenericObjectType: false
  paths:
    - web/sites/default/files/modules_local/dpl_pretix/
  excludePaths:
    - web/sites/default/files/modules_local/dpl_pretix/src/Pretix/ApiClient
    - web/sites/default/files/modules_local/dpl_pretix/vendor
  ignoreErrors:
    # - '#Function .*_schema\(\) return type has no value type specified in iterable type array\.#'
    - '#(Function|Method) (Drupal\\dpl_pretix\\|dpl_pretix_).+ return type has no value type specified in iterable type array.#'
    - '#(Function|Method) (Drupal\\dpl_pretix\\|dpl_pretix_).+ has parameter \$(element|form|options) with no value type specified in iterable type array.#'
    # # Why are Pretix\ApiClient classes unknown?!
    # - '#Drupal\\dpl_pretix\\Pretix\\ApiClient\\#'


# Local Variables:
# mode: yaml
# End:
